.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  color: #252525;
}

.footer-links li {
  cursor: pointer;
}

.footer-socail-icons {
  display: flex;
  gap: 20px;
}

.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid;
  background: #ebebeb;
  margin-bottom: 50px;
}
